<?xml version="1.0"?>
<launch>

    <!-- file path -->
    <param name="robot_description" textfile="$(find mobile_robot)/urdf/differential_bot.urdf"/>

    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-param robot_description -urdf -model differential_bot"/>

    <!-- RViz -->
    <node name="Rsp" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="Jsp" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>
    <node name="RViz" pkg="rviz" type="rviz" output="screen"/>
    
    <!-- Mapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <param name="base_frame" value="baza" />
    </node>
    
</launch>